{% extends 'email_templates/email_layout.html' %}
{% load i18n %}

{% block content %}
<header class="container">
  <h2 class="display-2 text-center">{% translate "welcome to Oil &amp; Rope traveller!"|capfirst %}</h2>
</header>
<main class="container p-5">
  <div class="row justify-content-around">
    <div class="col-8">
      <p class="text-center">
        {% translate "before you start, please make sure to activate your account by clicking in the link below."|capfirst %}
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <a href="{{ domain }}{% url 'registration:activate' token object.pk %}" class="btn btn-primary">
      {% translate "activate account"|capfirst %}
    </a>
  </div>
  <div class="row justify-content-center">
    <small class="text-muted">
      {% translate "if you can't click on the link here's raw"|capfirst %}
      <code>{{ domain }}{% url 'registration:activate' token object.pk %}</code>
    </small>
  </div>
</main>
{% endblock content %}
