# Oil & Rope plans to be an Open-Source website for managing and playing
# roleplay games but in the meantime any patch, enhancement, bugfix... needs
# to be checked by the people that initially created the project.

*       @LeCuay danielpaz4c@gmail.com

# Also since we are not almighty reviewers can check it too

*       @oil-rope/code-reviewers
