{% extends 'core/layout.html' %}
{% load i18n %}

{% block title %}{% translate "campaigns"|capfirst %}{% endblock title %}
{% block breadcrumb %}
  {% include 'common/include/breadcrumb.html' with breadcrumbs='campaigns' %}
{% endblock breadcrumb %}

{% block body_content %}
  <h1 class="display-5 text-center">
    {% translate "your campaigns"|capfirst %}
    <br>
    <small class="text-muted fs-4">{% translate "campaigns you are part of."|capfirst %}</small>
  </h1>
  <main class="container pb-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for campaign in object_list %}
        {% if campaign.cover_image %}
          <div class="col">
            {% include 'roleplay/campaign/include/campaign_card_with_image.html' %}
          </div>
        {% else %}
          <div class="col">
            {% include 'roleplay/campaign/include/campaign_card.html' %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if is_paginated %}
      <div class="row mt-4">
        {% include 'common/include/paginator.html' with paginator=paginator page_obj=page_obj path=request.path align='center' only %}
      </div>
    {% endif %}
  </main>
{% endblock body_content %}
