[run]
branch = True
dynamic_context = test_function
omit =
    manage.py
    oilandrope/**
    **/migrations/**
    tests/**
    bot/management/commands/runbot.py
    **/baker_recipes.py
    roleplay/templates/roleplay/race/race_detail.html
source = .
plugins =
    django_coverage_plugin

[report]
exclude_lines =
    # Re-enabling the standard pragma
    pragma: no cover

    if TYPE_CHECKING:
fail_under = 98
omit =
    docs/**
precision = 2
show_missing = True
skip_covered = True
skip_empty = True

[django_coverage_plugin]
template_extensions = html, txt
