# https://editorconfig.org/

root = true

[*]
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

# Docstring and comments user max_line_length = 125
[*.js, *.py]
indent_style = space
insert_final_newline = true
indent_size = 4
max_line_length = 125

# Use 2 spaces on HTML
[*.html]
indent_size = 2


# The JSON files contain newlines inconsistently
[*.json, *.yml]
indent_size = 2
insert_final_newline = ignore

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab
