language: python
# Using default dist and os
dist: xenial
os: linux

services:
  - postgresql

python:
  - "3.7.6"
  - "3.8"

env:
  - SECRET_KEY="de68z30c(3nbj*k4=lumea8hztcy_6%d0epx^w$jc&s)wygezo" DJANGO_SETTINGS_MODULE="oilandrope.settings"

install:
  - pip install -r requirements/requirements-base.txt -U
  # Linting
  - pip install -U flake8 isort
  # Install pytest and dependencies
  - pip install -U pytest pytest-django pytest-asyncio pytest-mock model_bakery freezegun
  # Codecov and coverage
  - pip install -U codecov pytest-cov

before_script:
  - psql -c 'create database oilandrope;' -U postgres
  # Fixing isort on migrations
  - isort -sk ./**/migrations/*.py

script:
  - flake8
  - isort --recursive --check-only --diff
  - pytest --cov ./ --cov-report xml
  - python manage.py check

after_success:
  - codecov -e DJANGO_SETTINGS_MODULE

jobs:
  include:
    - language: node_js
      node_js: 12
      install:
      - npm install
      before_script:
      - psql -c 'create database oilandrope;' -U postgres
      script:
      - npm test
      after_success: ignore
