version: "2"

volumes:
  postgres_db_data: {}

services:
  postgres_db:
    image: postgres:11.7
    environment:
      - POSTGRES_PASSWORD=p4ssw0rd@
      - POSTGRES_USER=postgres
      - POSTGRES_DB=oilandrope
    # Saving data on local
    volumes:
      - postgres_db_data:/var/lib/postgresql/data/

  django:
    image: oil-and-rope:latest
    build:
      context: .
      dockerfile: ./compose/django/Dockerfile
    volumes:
      - ./:/app/
      - ./compose/django/entrypoint.sh:/entrypoint.sh
      - ./compose/django/command.sh:/command.sh
    environment:
      - DB_NAME=oilandrope
      - DB_HOST=postgres_db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=p4ssw0rd@
      - DJANGO_SETTINGS_MODULE=oilandrope.settings
      # Dummy key
      - SECRET_KEY=de68z30c(3nbj*k4=lumea8hztcy_6%d0epx^w$jc&s)wygezo
      - ALLOWED_HOSTS=*
      - WS_HOST=localhost:5001
      - DEBUG=True
    entrypoint: /entrypoint.sh
    command: /command.sh
    depends_on:
      - postgres_db
    expose:
      - "5000"
    working_dir: /app/

  channels:
    image: oil-and-rope:latest
    volumes:
      - ./:/app/
      - ./compose/django/entrypoint.sh:/entrypoint.sh
      - ./compose/channels/command.sh:/command.sh
    environment:
      - DB_NAME=oilandrope
      - DB_HOST=postgres_db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=p4ssw0rd@
      - DJANGO_SETTINGS_MODULE=oilandrope.settings
      # Dummy key
      - SECRET_KEY=de68z30c(3nbj*k4=lumea8hztcy_6%d0epx^w$jc&s)wygezo
      - ALLOWED_HOSTS=*
      - WS_HOST=localhost:5001
      - DEBUG=True
    entrypoint: /entrypoint.sh
    command: /command.sh
    depends_on:
      - django
      - postgres_db
    expose:
      - "5001"
    working_dir: /app/

  nginx:
    image: nginx:latest
    depends_on:
      - django
      - channels
    volumes:
      - ./:/app/
      - ./static:/static
      - ./media:/media
      - ./compose/nginx/conf.d:/etc/nginx/conf.d
    ports:
      - 5000:5000
      - 5001:5001
