autopep8
discord.py
django==2.2.2
django-ckeditor
django-crispy-forms
django-extensions
django-filter
django-formtools
django-mptt
djangorestframework
django-tables2
Faker
markdown
matplotlib
numpy
pandas
Pillow
psycopg2-binary
pygraphviz
pylint
pylint-django
pyOpenSSL
pytest
pytest-django
scipy
Sphinx
Werkzeug
