autopep8
discord.py
Django==2.2.2
django-ckeditor
django-crispy-forms
django-extensions
django-formtools
djangorestframework
django-tables2
markdown
matplotlib
numpy
pandas
Pillow
psycopg2-binary
pylint
pylint-django
pytest
pytest-django
scipy
Sphinx
Werkzeug
