autopep8
beautifulsoup4
channels
discord.py
django==2.2.2
django-ckeditor
django-crispy-forms
django-extensions
django-filter
django-formtools
django-modeltranslation
django-mptt
django-mptt-admin
django-pdb
django-phonenumber-field
django-simple-history
django-tables2
djangorestframework
markdown
matplotlib
model_bakery
numpy
pandas
Pillow
psycopg2-binary
pygraphviz
pylint
pylint-django
pyOpenSSL
pytest
pytest-django
pytest-xdist
scipy
Sphinx
xlrd
Werkzeug
