{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Chat" %}{% endblock title %}

{% block body_content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div id="chatReactRenderer"></div>
      </div>
    </div>
  </div>
{% endblock body_content %}

{% block javascript %}
  <script
    src="{% static 'frontend/dist/Chat.bundle.js' %}"
    data-renderer="#chatReactRenderer"
    data-socket="{% url 'chat_ws:connect' %}"
    data-chat-info="{% url 'chat:api:chat-detail' chat.pk %}"
    data-user-url="{% url 'registration:api:user-detail' user.pk %}"
  ></script>
{% endblock javascript %}
