{% extends 'core/layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{% trans "Chat Room" %}{% endblock title %}

{% block body_content %}

    <textarea id="chat-log" cols="100" rows="20" data-user={{user.id}}></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}

{% endblock body_content %}

{% block javascript %}
<script src="{% static 'frontend/dist/Messages.bundle.js'%}" ></script>
{% endblock javascript %}