{% extends 'core/layout.html' %}
{% load i18n %}
{% load mptt_tags %}

{% block title %}{% trans 'Worlds' %}{% endblock title %}

{% block body_content %}
<div class="container-fluid">

  <!-- User's worlds -->
  {% if not user_places.exists %}
    <h2 class="display-4 text-center">
      {% trans "Seems like you haven't any world" %}.<br>
      {% trans "Create one" %}!
    </h2>
    <div class="row justify-content-center py-5">
      <a href="#no-url" class="btn btn-lg btn-extra">{% trans "Create world" %}!</a>
    </div>
  {% else %}
    <h2 class="display-4 text-center">{% trans "Your worlds" %}!</h2>
    <div class="d-none d-xl-block w-100 py-3"></div>
    <div class="row justify-content-xl-center">
      {% recursetree place_list %}

        {% if node.is_leaf_node and node.get_ancestors.exists %}
          <li class="tree-element">
            <a href="javascript:" class="tree-node">
              {{ node.resolve_icon|safe }}
              {{ node }}
            </a>
          </li>
        {% elif not node.get_ancestors.exists %}
          <div class="tree-container tree-responsive col-12 col-xl-auto">
            <ul class="tree-list">
              <li class="tree-element">
                <a href="javascript:" class="tree-node">
                  {{ node.resolve_icon|safe }}
                  {{ node }}
                </a>
                {% if node.get_children.exists %}
                  <ul class="tree-list">
                    {{ children }}
                  </ul>
                {% endif %}
              </li>
            </ul>
          </div>
        {% elif not node.is_leaf_node and node.get_ancestors.exists %}
          <li class="tree-element">
            <a href="javascript:" class="tree-node">
              {{ node.resolve_icon|safe }}
              {{ node }}
            </a>
            {% if node.get_children.exists %}
              <ul class="tree-list">
                {{ children }}
              </ul>
            {% endif %}
          </li>
        {% endif %}

      {% endrecursetree %}
    </div>
  {% endif %}

  <!-- Community worlds -->
  {% if not place_list.exists %}
    <h2 class="display-4 text-center">
      {% trans "Seems like we don't have comunity worlds" %}<br>
      {% trans "Would you like to create one?" %}
    </h2>
    <div class="row justify-content-center py-5">
      <a href="#no-url" class="btn btn-large btn-secondary">{% trans "Create world" %}!</a>
    </div>
  {% else %}
    <h2 class="display-4 text-center">
      {% trans "Checkout our community worlds" %}
    </h2>
    <div class="d-none d-xl-block w-100 py-3"></div>
    <div class="row justify-content-xl-around">
      {% recursetree place_list %}

        {% if node.is_leaf_node and node.get_ancestors.exists %}
          <li class="tree-element">
            <a href="javascript:" class="tree-node">
              {{ node.resolve_icon|safe }}
              {{ node }}
            </a>
          </li>
        {% elif not node.get_ancestors.exists %}
          <div class="tree-container tree-responsive col-12 col-xl-auto">
            <ul class="tree-list">
              <li class="tree-element">
                <a href="javascript:" class="tree-node">
                  {{ node.resolve_icon|safe }}
                  {{ node }}
                </a>
                {% if node.get_children.exists %}
                  <ul class="tree-list">
                    {{ children }}
                  </ul>
                {% endif %}
              </li>
            </ul>
          </div>
        {% elif not node.is_leaf_node and node.get_ancestors.exists %}
          <li class="tree-element">
            <a href="javascript:" class="tree-node">
              {{ node.resolve_icon|safe }}
              {{ node }}
            </a>
            {% if node.get_children.exists %}
              <ul class="tree-list">
                {{ children }}
              </ul>
            {% endif %}
          </li>
        {% endif %}

      {% endrecursetree %}
    </div>
  {% endif %}
</div>
{% endblock body_content %}
