{% extends 'core/layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Worlds' %}{% endblock title %}

{% block breadcrumb %}
  {% include 'common/include/breadcrumb.html' with breadcrumbs='Worlds' %}
{% endblock breadcrumb %}

{% block body_content %}
  <div class="container-fluid">

    <!-- User's worlds -->
    {% if not user_worlds.exists %}
      <h2 class="display-4 text-center">
        {% trans "Seems like you haven't any world" %}.<br>
        {% trans "Create one" %}!
      </h2>
      <div class="row justify-content-center">
        <a href="{% url 'roleplay:world_create' %}?user" class="btn btn-lg">{% trans "Create world" %}!</a>
      </div>
    {% else %}
      <h2 class="display-4 text-center">
        {% blocktrans count counter=user_worlds_full.count %}
          Your world
        {% plural %}
          Your worlds
        {% endblocktrans %}
        <a title="{% trans 'Create new world' %}" href="{% url 'roleplay:world_create' %}?user"
           class="btn btn-lg btn-primary">
          <span class="ic-plus"></span>
        </a>
      </h2>
      <div class="d-none d-xl-block w-100"></div>
      {% if user_worlds_is_paginated %}
        {% include 'common/include/paginator.html' with paginator=user_worlds_paginator page_obj=user_worlds_page_obj path=request.path align='center' page_kwarg='page_user_worlds' only %}
      {% endif %}
      <div class="row justify-content-xl-around mb-5">
        {% for world in user_worlds_page_obj %}
          <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4 {% if not forloop.first %} mt-5 mt-sm-0 mt-md-5 mt-lg-0{% endif %}">
            {% include 'roleplay/include/world_card.html' with world=world user=request.user only %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <!-- Community worlds -->
    {% if not object_list.exists %}
      <h2 class="display-4 text-center">
        {% trans "Seems like we don't have comunity worlds" %}<br>
        {% trans "Would you like to create one?" %}
      </h2>
      <div class="row justify-content-center">
        <a href="{% url 'roleplay:world_create' %}" class="btn btn-lg btn-secondary">{% trans "Create world" %}!</a>
      </div>
    {% else %}
      <h2 class="display-4 text-center">
        {% blocktrans count counter=object_list_full.count %}
          Checkout our community world
        {% plural %}
          Checkout our {{ counter }} community worlds
        {% endblocktrans %}
        <a title="{% trans 'Create community world' %}" href="{% url 'roleplay:world_create' %}"
           class="btn btn-lg btn-primary">
          <span class="ic-plus"></span>
        </a>
      </h2>
      <div class="d-none d-xl-block w-100"></div>
      {% if is_paginated %}
        {% include 'common/include/paginator.html' with paginator=paginator page_obj=page_obj path=request.path align='center' only %}
      {% endif %}
      <div class="row justify-content-xl-around">
        {% for world in page_obj %}
          <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4{% if not forloop.first %} mt-5 mt-sm-0 mt-md-5 mt-lg-0{% endif %}">
            {% include 'roleplay/include/world_card.html' with world=world user=request.user only %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock body_content %}
