{% load i18n %}
<navbar class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a href="{% url 'core:home' %}" class="navbar-brand">Oil &amp; Rope</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOilAndRopeMenu" aria-controls="navbarOilAndRopeMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarOilAndRopeMenu">
    <div class="navbar-nav">
      <a href="{% url 'core:home' %}" class="nav-item nav-link">{% trans "Home" %}</a>
      {% if request.user.is_superuser %}
      <div class="nav-item dropdown">
        <a href="javascript:;" class="nav-link dropdown-toggle" id="navbarAdminDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans "Administration" %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarAdminMenu">
          <a href="{% url 'admin:index' %}" class="dropdown-item">
            <i class="fas fa-cogs"></i>
            {% trans "Admin Panel" %}
          </a>
        </div>
      </div>
      {% endif %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarProfileDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarProfileDropdownMenu">
          <a href="javascript:;" class="dropdown-item">
            <i class="fas fa-user-alt"></i>
            {% trans "Profile" %}
          </a>
          <a href="{% url 'logout' %}" class="dropdown-item">
            <i class="fas fa-sign-out-alt"></i>
            {% trans "Logout" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</navbar>