{% load i18n %}
{% load static %}
{% load mptt_tags %}

<nav class="nav navbar-expand-lg sticky-top navbar-dark bg-dark p-2 p-lg-1" role="navigation">

  <!-- Button for NavBar -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOilAndRope" aria-controls="navbarOilAndRope" aria-expanded="false" aria-label="{% trans "Toggle navigation" %}">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Menu -->
  <div class="collapse navbar-collapse" id="navbarOilAndRope">
    <!-- Logo -->
    <a href="{% url 'core:home' %}" class="navbar-brand">
      <img width="60" height="60" class="d-inline-block border border-left-0 border-right-0 border-white p-1" src="{% static 'img/oil-and-rope.jpg' %}" alt="{% trans "Logo" %}">
      Oil &amp; Rope
    </a>

    <!-- Menu -->
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      {% recursetree menus %}

      {% comment %} Leaf Node inside a Dropdown {% endcomment %}
      {% if node.get_ancestors and node.is_leaf_node %}
      <a data-menu-referrer="{{ node.pk }}" href="{{ node.url }}" class="dropdown-item dynamic-menu-track text-uppercase">{{ node.name }}</a>
      {% comment %} Leaf Node outside a Dropdown {% endcomment %}
      {% elif not node.get_ancestors and node.is_leaf_node %}
      <li class="nav-item">
        <a data-menu-referrer="{{ node.pk }}" href="{{ node.url }}" class="nav-link dynamic-menu-track text-uppercase">{{ node.name }}</a>
      </li>
      {% comment %} A Dropdown {% endcomment %}
      {% else %}
      <li class="nav-item dropdown">
        <a data-menu-referrer="{{ node.pk }}" class="nav-link dynamic-menu-track dropdown-toggle text-uppercase" href="javascript:;" id="navbarDropdown_{{ node.pk }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ node.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown_{{ node.pk }}">
          {{ children }}
        </div>
      </li>
      {% endif %}

      {% endrecursetree %}
    </ul>

    <!-- Login and Register -->
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i>
          {{ user.username }}
        </a>
        <div class="dropdown-menu">
          <div class="dropdown-divider"></div>
          <a href="{% url 'logout' %}" class="dropdown-item">
            <i class="fa fa-sign-out" aria-hidden="true"></i>{% trans "Logout" %}
          </a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{% url 'registration:login' %}" class="nav-link text-uppercase">{% trans "Login" %}</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'registration:register' %}" class="nav-link text-uppercase text-extra">{% trans "Create your account" %}</a>
      </li>
      {% endif %}
    </ul>
  </div>

</nav>