{% load i18n %}
{% load static %}
<div id="worldCarousel_{{ world.pk }}" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for image in world.images %}
      <div class="carousel-item{% if forloop.first %} active{% endif %}">
        <div class="d-inline-block w-100 full-background  "
             style="background-image: url('{{ image.url }}')"></div>
      </div>
    {% empty %}
      <div class="carousel-item active">
        {% static 'roleplay/img/places/default_image.png' as default_image %}
        <div class="d-inline-block w-100 full-background"
             style="background-image: url('{{ default_image }}')"></div>
      </div>
    {% endfor %}
  </div>
  {% if controls %}
    <a class="carousel-control-prev" href="#worldCarousel_{{ world.pk }}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">{% trans "previous"|capfirst %}</span>
  </a>
  <a class="carousel-control-next" href="#worldCarousel_{{ world.pk }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">{% trans "next"|capfirst %}</span>
  </a>
  {% endif %}
</div>