{% load i18n %}
{% load static %}

<div class="card h-100">
  <div class="card-header">
    <div id="worldCarousel_{{ world.pk }}" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for image in world.images %}
          <div class="carousel-item{% if forloop.first %} active{% endif %}">
            <div class="d-inline-block w-100 full-background"
                 style="background-image: url('{{ image.url }}')"></div>
          </div>
        {% empty %}
          <div class="carousel-item active">
            {% static 'roleplay/img/places/default_image.png' as default_image %}
            <div class="d-inline-block w-100 full-background"
                 style="background-image: url('{{ default_image }}')"></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">{{ world.name }}</h5>
    <hr class="w-50">
    <p class="card-text text-justify">
      {{ world.description|truncatechars_html:250|default:_("No description provided")|add:"." }}
    </p>
  </div>
  <div class="card-body">
    <div class="btn-group dropright">
      <a href="{% url 'roleplay:world_detail' world.pk %}" class="btn btn-outline-secondary"
         role="button">{% trans "View" %}
      </a>
      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
              id="world_{{ world.pk }}_actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              data-reference="parent">
        <span class="sr-only">{% trans "Show actions" %}</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="world_{{ world.pk }}_actions">
        <a href="#no-url" class="dropdown-item">
          <span class="ic-quill"></span>
          {% trans "Create campaign" %}
        </a>
        {% if world.owner == user %}
          <a href="#no-url" class="dropdown-item">
            <span class="ic-city"></span>
            {% trans "Create city" %}
          </a>
          <a href="#no-url" class="dropdown-item">
            <span class="ic-cogs"></span>
            {% trans "Settings" %}
          </a>
          <div class="dropdown-divider"></div>
          <a href="#no-url" class="dropdown-item">
            <span class="ic-trash text-danger"></span>
            {% trans "Delete" %} {% trans "world" %}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p class="text-muted text-center">
      {% with sessions=0 %}
        {% blocktrans count counter=sessions %}
          Used in {{ sessions }} session
        {% plural %}
          Used in {{ sessions }} sessions
        {% endblocktrans %}
      {% endwith %}
    </p>
  </div>
</div>