{% extends 'core/layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "create"|capfirst %} {% trans "world"|capfirst %}{% endblock title %}

{% block breadcrumb %}
  {% include 'common/include/breadcrumb.html' with breadcrumbs='Worlds=roleplay:world_list,Create World' %}
{% endblock breadcrumb %}

{% block body_content %}
  <main class="container pb-5">
    <h1 class="text-center font-weight-lighter">{% trans "create your world!"|capfirst %}</h1>
    <hr class="mx-3 pb-3">
    <div class="row px-1">
      {% crispy form %}
    </div>
  </main>
{% endblock body_content %}