{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ object.name }} {% trans 'Detail' %}{% endblock title %}

{% block breadcrumb %}
  {% include 'common/include/breadcrumb.html' with breadcrumbs='Worlds=roleplay:world_list,World Detail' %}
{% endblock breadcrumb %}

{% block body_content %}
  <main class="container">
    <div class="row">
      <section id="treeView"></section>
      {% comment %}
      {% include 'common/include/tree.html' with tree=world_structure only %}
      {% endcomment %}
    </div>
  </main>
{% endblock body_content %}
{% block javascript %}
  <script src="{% static 'frontend/dist/TreeView.bundle.js' %}"></script>
{% endblock javascript %}