{% extends 'core/layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load string_utils %}

{% block title %}{% translate "create"|capfirst %} {% translate "world"|capfirst %}{% endblock title %}

{% block breadcrumb %}
  {% translate "create world" as create_world_page %}
  {% include 'common/include/breadcrumb.html' with breadcrumbs='worlds=roleplay:world:list,create world' %}
{% endblock breadcrumb %}

{% block body_content %}
  <main class="container pb-5">
    <h1 class="text-center fw-lighter">{% translate "create your world!"|capfirstletter %}</h1>
    <hr class="mx-3" />
    <div class="row px-1">
      {% crispy form %}
    </div>
  </main>
{% endblock body_content %}