{% load i18n %}
<section>
  <h3 class="text-center">
    {% translate "about the campaign"|capfirst %}
  </h3>
  <p>
    {{ object.description|default:_("no description provided...")|capfirst }}
  </p>
</section>
<section>
  <h3 class="text-center">
    {% translate "about the world"|title %}
    <a
      href="{% url 'roleplay:place:detail' object.place.pk %}"
      class="btn btn-sm btn-dark fw-bold"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="{% translate "this is not the entire world to take a deep look go to 'see more'"|capfirst %}"
    >
      ?
    </a>
    <br>
    <small class="lead fs-6">
      {% url 'roleplay:place:detail' object.place.pk as world_detail_url %}
      <a href="{{ world_detail_url }}">
        {% translate "see more"|capfirst %}
      </a>
    </small>
  </h3>
  {% for place in object.place.get_family|slice:5 %}
    <article class="pt-3">
      {% if place.level == 0 %}
        <h3 class="text-center fw-lighter">
          {{ place.resolve_icon|safe }} {{ place.name }} ({{ place.get_site_type_display }})
        </h3>
      {% elif place.level == 1 %}
        <h4 class="text-center fw-lighter">
          {{ place.resolve_icon|safe }} {{ place.name }} ({{ place.get_site_type_display }})
        </h4>
      {% else %}
        <h5 class="text-center fw-lighter">
          {{ place.resolve_icon|safe }} {{ place.name }} ({{ place.get_site_type_display }})
        </h5>
      {% endif %}
      <p>
        {% if place.description %}
          {{ place.description|safe|truncatechars_html:1000 }}
        {% else %}
          {% translate "no description provided..."|capfirst %}
        {% endif %}
      </p>
    </article>
  {% endfor %}
  <a href="{{ world_detail_url }}" class="btn btn-link mt-4">
    {% translate "see more"|capfirst %}
  </a>
</section>