{% load i18n %}
<div class="card h-100 text-center {% if campaign.cover_image %}text-light{% endif %}">
  {% if campaign.cover_image %}
    <img
      src="{{ campaign.cover_image.url }}"
      alt="{% translate "cover image for campaign"|capfirst %}"
      class="card-img"
    >
  {% endif %}
  <div class="{% if campaign.cover_image %}card-img-overlay{% else %}card-body{% endif %}">
    <h5 class="card-title">
      <span
        class="badge bg-{% if campaign.total_votes == 0 %}dark{% elif campaign.total_votes > 0 %}success{% else %}danger{% endif %}"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{% translate "the amount of votes this campaign has received."|capfirst %}"
      >
        {{ campaign.total_votes }}
      </span>
      {{ campaign.name }}
      <br>
      <small class="text-muted">{{ campaign.summary }}</small>
    </h5>
    <p class="card-text">
      {% if campaign.description %}
        {{ campaign.description|truncatechars:250 }}
      {% else %}
        {% translate "no description provided yet."|capfirst %}
      {% endif %}
    </p>
  </div>
  {% include 'roleplay/campaign/include/campaign_card_actions.html' %}
  {% include 'roleplay/campaign/include/campaign_card_footer.html' %}
</div>
