{% load i18n %}

<section class="row row-cols-1 justify-content-around">

  {% if campaign.session_set.exists and request.user in campaign.game_masters %}
    <div class="col col-md-8 col-lg-4 col-xl-auto">
      <a
        href="{% url 'roleplay:session:create' campaign.pk %}"
        class="btn btn-secondary w-100"
        title="{% translate "create a new session"|capfirst %}"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
      >
        {% translate "create session"|capfirst %}
      </a>
    </div>
  {% endif %}
  <div class="w-100 my-2"></div>
  {% for session in campaign.session_set.all %}
    {% include 'roleplay/session/include/session_card.html' with session=session request=request only %}
  {% empty %}
    <div class="col">
      {% if user in campaign.game_masters %}
        {% include 'roleplay/session/include/prepare_first_session_card.html' with campaign=campaign %}
      {% else %}
        <h5 class="text-center">
          {% translate "no sessions yet."|capfirst %}
        </h5>
      {% endif %}
    </div>
  {% endfor %}
</section>