{% load i18n %}
<div class="card h-100 text-light text-center">
  <img
    src="{{ campaign.cover_image.url }}"
    alt="{% translate "cover image for campaign"|capfirst %}"
    class="card-img"
  >
  <div class="card-img-overlay">
    <h5 class="card-title">
      {{ campaign.name }}
      <br>
      <small class="fw-light">{{ campaign.summary }}</small>
    </h5>
    <p class="card-text">
      {% if campaign.description %}
        {{ campaign.description|truncatechars:250 }}
      {% else %}
        {% translate "no description provided yet."|capfirst %}
      {% endif %}
    </p>
  </div>
  {% include 'roleplay/campaign/include/campaign_card_actions.html' %}
  {% include 'roleplay/campaign/include/campaign_card_footer.html' %}
</div>