{% load i18n %}

<section class="row justify-content-around">
  <div class="col col-md-8 col-lg-4 col-xl-auto">
    <a
      href="{% url 'roleplay:session:create' campaign.pk %}"
      class="btn btn-secondary w-100"
      title="{% translate "create a new session"|capfirst %}"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
    >
      {% translate "create session"|capfirst %}
    </a>
  </div>
  <div class="w-100 my-2"></div>
  {% for session in object.session_set.all %}
    {% include 'roleplay/session/include/session_list_item.html' with session=session only %}
  {% empty %}
    <div class="col">
      {% if user in object.game_masters %}
        {% include 'roleplay/session/include/prepare_first_session_card.html' with campaign=object %}
      {% else %}
        <h5 class="text-center">
          {% translate "no sessions yet."|capfirst %}
        </h5>
      {% endif %}
    </div>
  {% endfor %}
</section>