{% extends 'core/layout.html' %}
{% load i18n %}

{% block title %}{% trans "Mistery" %}!{% endblock title %}

{% block body_content %}
  <main class="container py-5">
    <h2 class="display-3 text-center">{% trans "Seems like the resource you are looking for is missing" %}</h2>
    <small class="lead text-muted">{% trans "Don't worry, our best man is on case" %}.</small>
    <hr class="mx-5">
    <div class="row pt-5">
      <div class="col-12">
        <p class="lead text-center">
          {% trans "Meanwhile what about" %} <a href="{% url 'core:home' %}">{% trans "going back" %}?</a>
        </p>
      </div>
    </div>
  </main>
{% endblock body_content %}