{% extends 'core/layout.html' %}
{% load i18n %}
{% load string_utils %}

{% block title %}{% translate "boom!"|capfirstletter %}{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="https://cdn.oilandrope-project.com/css/oilandrope.css">
{% endblock css %}

{% block body_content %}
  <main class="container pt-5">
    <h1 class="display-4 text-center">
      {% translate "one of our robots have just exploded."|capfirst %}
      <br />
      <small class="lead text-muted">
        {% translate "but don't panic, it's not like they're gonna reveal against us..."|capfirst %} {% translate "right?"|capfirstletter %}
      </small>
    </h1>
    <hr class="mx-5">
    <div class="row mt-3">
      <div class="col-12">
        <p class="lead text-center">
          {% translate "meanwhile why don't you try to escap... I mean"|capfirst %}
          <a href="{% url 'core:home' %}">{% translate "go back" %}?</a>
        </p>
      </div>
    </div>
  </main>
{% endblock body_content %}