<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock title %} | Oil &amp; Rope</title>
</head>

<body>
  {% language 'lan' %}

  {% comment %} HTML Content {% endcomment %}
  {% block body_content %}
  {% endblock body_content %}

  {% endlanguage %}

  <!-- JavaScript -->
  {% block javascript %}
  {% endblock javascript %}
</body>

</html>