<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'img/oil-and-rope.jpg' %}" type="image/x-icon">

  <!-- Bootstrap Styles -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <!-- Fontawesome -->
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
  <!-- Oil & Rope Styles -->
  <link rel="stylesheet" href="{% static 'core/css/oilandrope-theme.css' %}">

  <title>{% block title %}{% endblock title %} | Oil &amp; Rope</title>

</head>

<body>
  {% language lan %}

  {% include 'core/includes/menu.html' %}

  {% comment %} HTML Content {% endcomment %}
  {% block body_content %}
  {% endblock body_content %}

  {% endlanguage %}

  <!-- JavaScript -->
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
          integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
  <!-- Bootstrap -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- JS Cookie -->
  <script type="module" src="{% static 'dynamic_menu/external_libs/js_cookie/js_cookie.min.js' %}"></script>
  <!-- Dynamic Menu -->
  <script src="{% static 'dynamic_menu/tracking/js/tracking.js' %}"></script>

  {% block javascript %}
  {% endblock javascript %}

</body>

</html>