<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap Styles -->
  <link rel="stylesheet" href="{% static 'core/css/oilandrope-theme.css' %}">
  <!-- Fontawesome -->
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">

  <title>{% block title %}{% endblock title %} | Oil &amp; Rope</title>
</head>

<body>
  {% language lan %}

  {% include 'core/includes/menu.html' %}

  {% comment %} HTML Content {% endcomment %}
  {% block body_content %}
  {% endblock body_content %}

  {% endlanguage %}

  <!-- JavaScript -->
  <!-- JS for Bootstrap -->
  <script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {% block javascript %}
  {% endblock javascript %}
</body>

</html>