@font-face {
  font-family: 'Oil-and-Rope';
  src:  url('fonts/Oil-and-Rope.eot?gsu18b');
  src:  url('fonts/Oil-and-Rope.eot?gsu18b#iefix') format('embedded-opentype'),
    url('fonts/Oil-and-Rope.ttf?gsu18b') format('truetype'),
    url('fonts/Oil-and-Rope.woff?gsu18b') format('woff'),
    url('fonts/Oil-and-Rope.svg?gsu18b#Oil-and-Rope') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Oil-and-Rope' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-cogs:before {
  content: "\e904";
}
.ic-cog:before {
  content: "\e908";
}
.ic-cross:before {
  content: "\e909";
}
.ic-trash:before {
  content: "\e90a";
}
.ic-town:before {
  content: "\e901";
}
.ic-home:before {
  content: "\e902";
}
.ic-city:before {
  content: "\e903";
}
.ic-edit:before {
  content: "\e905";
}
.ic-pencil:before {
  content: "\e906";
}
.ic-quill:before {
  content: "\e907";
}
.ic-map:before {
  content: "\e94b";
}
.ic-world:before {
  content: "\e9ca";
}
.ic-flag:before {
  content: "\e9cc";
}
.ic-plus:before {
  content: "\ea0a";
}
.ic-minus:before {
  content: "\ea0b";
}
.ic-globe:before {
  content: "\e900";
}
