@font-face {
  font-family: 'Oil-and-Rope';
  src:  url('fonts/Oil-and-Rope.eot?dtzonh');
  src:  url('fonts/Oil-and-Rope.eot?dtzonh#iefix') format('embedded-opentype'),
    url('fonts/Oil-and-Rope.ttf?dtzonh') format('truetype'),
    url('fonts/Oil-and-Rope.woff?dtzonh') format('woff'),
    url('fonts/Oil-and-Rope.svg?dtzonh#Oil-and-Rope') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Oil-and-Rope' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-join:before {
  content: "\e91f";
}
.ic-connect:before {
  content: "\e910";
}
.ic-arrow-right:before {
  content: "\e924";
}
.ic-arrow-left:before {
  content: "\e925";
}
.ic-arrow-up:before {
  content: "\e926";
}
.ic-loop:before {
  content: "\e927";
}
.ic-redo:before {
  content: "\e928";
}
.ic-undo:before {
  content: "\e929";
}
.ic-facebook:before {
  content: "\e923";
}
.ic-mail:before {
  content: "\e920";
}
.ic-share:before {
  content: "\e921";
}
.ic-menu:before {
  content: "\e91a";
}
.ic-dice:before {
  content: "\e915";
}
.ic-user-check:before {
  content: "\e912";
}
.ic-user:before {
  content: "\e913";
}
.ic-users:before {
  content: "\e911";
}
.ic-shield:before {
  content: "\e90f";
}
.ic-hammer:before {
  content: "\e90e";
}
.ic-arrow-down:before {
  content: "\e90b";
}
.ic-cogs:before {
  content: "\e904";
}
.ic-cog:before {
  content: "\e908";
}
.ic-cross:before {
  content: "\e909";
}
.ic-trash:before {
  content: "\e90a";
}
.ic-town:before {
  content: "\e901";
}
.ic-home:before {
  content: "\e902";
}
.ic-city:before {
  content: "\e903";
}
.ic-edit:before {
  content: "\e905";
}
.ic-pencil:before {
  content: "\e906";
}
.ic-quill:before {
  content: "\e907";
}
.ic-map:before {
  content: "\e94b";
}
.ic-world:before {
  content: "\e9ca";
}
.ic-flag:before {
  content: "\e9cc";
}
.ic-plus:before {
  content: "\ea0a";
}
.ic-minus:before {
  content: "\ea0b";
}
.ic-tv:before {
  content: "\e91d";
}
.ic-eye:before {
  content: "\e91e";
}
.ic-responsive-device:before {
  content: "\e914";
}
.ic-triangle-relation:before {
  content: "\e90d";
}
.ic-diana:before {
  content: "\e90c";
}
.ic-globe:before {
  content: "\e900";
}
.ic-dots-horizontal-triple:before {
  content: "\e91b";
}
.ic-menu-thin:before {
  content: "\e917";
}
.ic-circle-cross-thin:before {
  content: "\e918";
}
.ic-cross-thin:before {
  content: "\e919";
}
.ic-twitter:before {
  content: "\e922";
}
.ic-github:before {
  content: "\e91c";
}
.ic-discord:before {
  content: "\e916";
}
