// Color Palette
$color-1: #1A202C;
$color-2: #1F7872;
$color-3: #72B095;
$color-4: #DEDBA7;
$color-5: #D13F31;

$body-bg: $color-4;

$theme-colors: ("primary": $color-1,
    "secondary": $color-2,
    "info": $color-3,
    "palid": $color-4,
    "extra": $color-5);

$sizes: ("10vh": 10vh,
    "20vh": 20vh,
    "25vh": 25vh,
    "30vh": 30vh,
    "40vh": 40vh,
    "50vh": 50vh,
    "60vh": 60vh,
    "70vh": 70vh,
    "75vh": 75vh,
    "80vh": 80vh,
    "90vh": 90vh,
    "100vh": 100vh,
    "10vw": 10vw,
    "20vw": 20vw,
    "25vw": 25vw,
    "30vw": 30vw,
    "40vw": 40vw,
    "50vw": 50vw,
    "60vw": 60vw,
    "70vw": 70vw,
    "75vw": 75vw,
    "80vw": 80vw,
    "90vw": 90vw,
    "100vw": 100vw);

.full-background {
    background-repeat: no-repeat;
    background-size: cover;
}

// Bootstrap and its default variables
@import "../../bootstrap/scss/bootstrap";