{% load i18n %}
{% load string_utils %}
<li class="nav-item dropdown">
  <a
    href="#"
    class="nav-link dropdown-toggle text-uppercase {% if 'place' in request.path or 'world' in request.path or 'race' in request.path %}active{% endif %}"
    id="worldbuildingDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <i class="ic ic-hammer"></i>
    {% translate "world building" %}
  </a>
  <ul class="dropdown-menu" aria-labelledby="worldbuildingDropdown">
    <li>
      {% url 'roleplay:world:list' as world_list_url %}
      <a
        href="{{ world_list_url }}"
        class="dropdown-item{% if actual_path|startswith:world_list_url %} active{% endif %}"
        {% if actual_path|startswith:world_list_url %} aria-current="true"{% endif %}
      >
        {{ ICONS.WORLD|safe }}
        {% translate "worlds"|title %}
      </a>
    </li>
    <li>
      {% url 'roleplay:race:list' as race_list_url %}
      <a
        href="{{ race_list_url }}"
        class="dropdown-item{% if actual_path|startswith:race_list_url %} active{% endif %}"
      >
        <i class="ic ic-users"></i>
        {% trans "races"|title %}
      </a>
    </li>
  </ul>
</li>
