{% extends 'core/layout.html' %}
{% load i18n %}
{% load string_utils %}

{% block title %}{% translate 'races'|capfirst %}{% endblock title %}

{% block breadcrumb %}
  {% include 'common/include/breadcrumb.html' with breadcrumbs='races' %}
{% endblock breadcrumb %}

{% block body_content %}
  <div class="container">
      <h2 class="display-5 text-center">
        {% translate 'races'|capfirst %}
      </h2>
      <div class="row justify-content-center">
          <a
        title="{% translate 'create new race'|capfirst %}" href="{% url 'roleplay:race:create' %}?user"
        href="{% url 'roleplay:race:create' %}"
       class="col col-lg-4 btn btn-lg btn-dark"
      >
        <i class="ic-plus"></i>
        Añadir
      </a>
      <div class="w-100 py-2"></div>
      {% if is_paginated %}
        {% include 'common/include/paginator.html' with paginator=paginator page_obj=page_obj path=request.path align='center' only %}
      {% endif %}
      <div class="row justify-content-around pb-5">
        {% for race in page_obj %}
          <div
            class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4 mt-5 mt-lg-4">
            {% include 'roleplay/include/race_card.html' with race=race user=request.user only %}
          </div>
        {% endfor %}
      </div>
  </div>
{% endblock body_content %}
