{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {% translate "create"|capfirst %} {% translate "race"|capfirst %}
{% endblock title %}

{% block breadcrumb %}
  {% translate "create race" as breadcrumb_translation %}
  {% include 'common/include/breadcrumb.html' with breadcrumbs='races=roleplay:race:create,create race' %}
{% endblock breadcrumb %}

{% block body_content %}
  <main class="container py-5">
    <h2 class="display-4 text-center">
      {% translate "create"|capfirst %} {% translate "race"|capfirst %}
    </h2>
    <hr class="mx-5">
    <div class="row">
      <div class="col">
        {% crispy form %}
      </div>
    </div>
  </main>
{% endblock body_content %}
