{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}
{% load string_utils %}

{% block title %}{% translate 'races'|capfirst %}{% endblock title %}

{% block breadcrumb %}
  {% include 'common/include/breadcrumb.html' with breadcrumbs='races' %}
{% endblock breadcrumb %}

{% block body_content %}
  <h1 class="display-5 text-center">
    {% translate 'races'|capfirst %}
  </h1>

  <main class="container">
    <div class="d-flex flex-row justify-content-center align-items-stretch gap-3 mb-3">
      {% url 'roleplay:race:create-for-place' as race_create_for_place_url %}
      <a
        href="{{ race_create_for_place_url }}"
        class="btn btn-secondary"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{% translate "create a race that exists within a world you are owner of."|capfirst %}"
      >
        {{ ICONS.WORLD|safe }}
        {% translate "create race for world"|capfirst %}
      </a>

      {% url 'roleplay:race:create-for-campaign' as race_create_for_campaign_url %}
      <a
        href="{{ race_create_for_campaign_url }}"
        class="btn btn-secondary"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{% translate "create a race for an specific campaign where you are game master."|capfirst %}"
      >
        {{ ICONS.QUILL|safe }}
        {% translate "create race for campaign"|capfirst %}
      </a>
    </div>

    {% if object_list or filter.data %}
      <div class="row justify-content-center mb-3">
        <div class="col col-lg-8 col-xxl-7">
          {% include 'common/include/filter_accordion.html' with filter=filter only %}
        </div>
      </div>
    {% endif %}

    {% if object_list %}
      <div
        class="row g-4 row-cols-1 row-cols-lg-2 row-cols-xl-3 justify-content-md-center align-items-stretch mb-3"
      >
        {% for object in object_list %}
          <div
            class="col"
          >
            {% include 'roleplay/include/race_card.html' with race=object %}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="row">
        <h2 class="text-center mb-4">
          {% if filter.data %}
            {% translate "there isn't any race with this characteristics."|capfirst %}
          {% else %}
            {% translate "seems like you haven't create any race yet."|capfirst %}
          {% endif %}
          <br>
          <small class="text-muted fw-light">
            {% if filter.data %}
              {% translate "remove filter or create one."|capfirst %}
            {% else %}
              {% translate "but you can create one!"|capfirstletter %}
            {% endif %}
          </small>
        </h2>
      </div>
    {% endif %}

    {% if is_paginated %}
      {% include 'common/include/paginator.html' with paginator=paginator page_obj=page_obj path=request.path align='center' only %}
    {% endif %}
  </main>
{% endblock body_content %}

{% block javascript %}
  <script type="module">
    import {setUpTooltip} from ''

    setUpTooltip();
  </script>
{% endblock javascript %}
