{% extends 'core/layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% blocktranslate with name=object.name %}Edit {{ name }}{% endblocktranslate %}{% endblock %}

{% block breadcrumb %}
  {% include 'common/include/breadcrumb.html' with breadcrumbs='worlds=roleplay:world:list,edit' %}
{% endblock breadcrumb %}

{% block body_content %}
  <main class="container pb-5">
    <h1 class="text-center fw-lighter">
      {% blocktranslate with name=object.name %}Editing {{ name }}{% endblocktranslate %}
    </h1>
    <hr class="mx-3" />
    <div class="row justify-content-around px-1">
      {% crispy form %}
    </div>
  </main>
{% endblock body_content %}
