{# This section constitudes an About Us basic #}
{% load i18n %}
<div class="row bg-extra min-vh-100 py-5 {% if no_margin %}mx-0{% endif %}" id="about-us">
  <!-- About us -->
  <section class="col-12">
    <h2 class="display-3 text-center">
      {% trans "About us" %}
    </h2>
    <hr class="mx-md-5 md">
    <p class="lead text-center">
      {% blocktrans %}We are a group of people with different professional profiles (developers, designers, composers, …) and one thought in common,<br><i class="font-weight-bold">"make an incredible experience for roleplaying online!"</i>.{% endblocktrans %}
    </p>
  </section>

  <!-- How -->
  <section class="col-12 py-3" id="how">
    <h2 class="display-3 text-center">
      {% trans "How?" %}<br>
      <small class="lead">
        {% trans "Helping you to" %}...
      </small>
    </h2>

    <div class="row justify-content-center">

      <!-- Build -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-hammer"></i>
        <div class="w-100"></div>
        <p class="lead">
          ...{% trans "build" %}.<br>
          {% trans "Worlds, cities, races, stories..." %}
        </p>
      </div>

      <!-- Secure -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-shield"></i>
        <div class="w-100"></div>
        <p class="lead">
          ...{% trans "play secure" %}.<br>
          {% trans "All your data is stored and encrypted" %}.
        </p>
      </div>

      <!-- Connect -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-connect"></i>
        <div class="w-100"></div>
        <p class="lead">
          ...{% trans "connect" %}.<br>
          {% trans "Make relationships in-between your world" %}.
        </p>
      </div>

      <!-- Play -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-dice"></i>
        <div class="w-100"></div>
        <p class="lead">
          ...{% trans "play" %}!<br>
          {% trans "Create, fight, explore and have fun!" %}
        </p>
      </div>

      <!-- Write -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-quill"></i>
        <div class="w-100"></div>
        <p class="lead">
            ...{% trans "write" %}.<br>
            {% trans "Your own story, your epic revolution" %}.
        </p>
      </div>

      <!-- Adapt -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-responsive-device"></i>
        <div class="w-100"></div>
        <p class="lead">
            ...{% trans "adapt" %}.<br>
            {% trans "Control your game in every device" %}.
        </p>
      </div>

      <!-- Communicate -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-discord"></i>
        <div class="w-100"></div>
        <p class="lead">
            ...{% trans "communicate" %}.<br>
            {% trans "Playing in both website and Discord server" %}.
        </p>
      </div>

      <!-- Share -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-users"></i>
        <div class="w-100"></div>
        <p class="lead">
            ...{% trans "share" %}.<br>
            {% trans "Make amazing worlds for everyone to enjoy" %}.
        </p>
      </div>

      <a href="{% url 'registration:register' %}" class="btn btn-lg btn-primary col-6 my-lg-5">
        <i class="ic ic-join"></i>
        {% trans "Join now!" %}
      </a>
    </div>
  </section>
</div>
