{# This section constitudes an About Us basic #}
{% load i18n %}
<div class="row bg-extra min-vh-100 py-5 {% if no_margin %}mx-0{% endif %}" id="about-us">
  <!-- About us -->
  <section class="col-12">
    <h2 class="display-3 text-center">
      {% translate "about us"|capfirst %}
    </h2>
    <hr class="mx-md-5 md">
    <p class="lead text-center">
      {% blocktrans %}We are a group of people with different professional profiles (developers, designers, composers, …) and one thought in common,<br><i class="font-weight-bold">"make an incredible experience for roleplaying online!"</i>.{% endblocktrans %}
    </p>
  </section>

  <!-- How -->
  <section class="col-12 py-3" id="how">
    <h2 class="display-3 text-center">
      {% translate "how?"|capfirst %}<br>
      <small class="lead">
        {% translate "helping you to..."|capfirst %}
      </small>
    </h2>

    <div class="row justify-content-center">

      <!-- Build -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-hammer"></i>
        <div class="w-100"></div>
        <p class="lead">
          ...{% translate "build" %}.<br>
          {% translate "worlds, cities, races, stories..."|capfirst %}
        </p>
      </div>

      <!-- Secure -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-shield"></i>
        <div class="w-100"></div>
        <p class="lead">
          ...{% translate "play secure" %}.<br>
          {% translate "all your data is stored and encrypted."|capfirst %}
        </p>
      </div>

      <!-- Connect -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-connect"></i>
        <div class="w-100"></div>
        <p class="lead">
          ...{% translate "connect" %}.<br>
          {% translate "make relationships in-between your world."|capfirst %}
        </p>
      </div>

      <!-- Play -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-dice"></i>
        <div class="w-100"></div>
        <p class="lead">
          ...{% translate "play" %}!<br>
          {% translate "create, fight, explore and have fun!"|capfirst %}
        </p>
      </div>

      <!-- Write -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-quill"></i>
        <div class="w-100"></div>
        <p class="lead">
            ...{% translate "write" %}.<br>
            {% translate "your own story, your epic revolution."|capfirst %}
        </p>
      </div>

      <!-- Adapt -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-responsive-device"></i>
        <div class="w-100"></div>
        <p class="lead">
            ...{% translate "adapt" %}.<br>
            {% translate "control your game in every device."|capfirst %}
        </p>
      </div>

      <!-- Communicate -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-discord"></i>
        <div class="w-100"></div>
        <p class="lead">
            ...{% translate "communicate" %}.<br>
            {% translate "playing in both website and Discord server."|capfirst %}
        </p>
      </div>

      <!-- Share -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-users"></i>
        <div class="w-100"></div>
        <p class="lead">
            ...{% translate "share" %}.<br>
            {% translate "make amazing worlds for everyone to enjoy."|capfirst %}
        </p>
      </div>

      <a href="{% url 'registration:register' %}" class="btn btn-lg btn-primary col-6 my-lg-5">
        <i class="ic ic-join"></i>
        {% translate "join now!"|capfirst %}
      </a>
    </div>
  </section>
</div>
