{# This section constitudes basic information about the project #}
{% load i18n %}
{% load string_utils %}
<div class="row bg-primary min-vh-100 h-100 py-5 text-white {% if no_margin %}mx-0{% endif %}" id="about-the-project">
  <section class="col-12">
    <h2 class="display-3 text-center">
      {% translate "about the project"|capfirst %}
    </h2>
    <hr class="mx-md-5 bg-light">
    <p class="lead text-center">
      {% blocktrans %}Oil &amp; Rope was born from the problem that some websites for managing roleplay games are quite <i>rough</i>.{% endblocktrans %}
      <br>
      {% translate "so the very goal of this website is to bring something fresh."|capfirst %}<br>
      {% translate "something useful."|capfirst %}<br>
      {% translate "something intuitive."|capfirst %}<br><br>
      <i class="font-weight-bold">{% translate "a web manager made by roleplayers for roleplayers."|capfirst %}</i>
    </p>
  </section>
  <section class="col-12 pt-5">
    <h2 class="display-4 text-center">
      {% translate "contributing"|capfirst %}
    </h2>
    <hr class="mx-md-5 bg-light">
    <p class="lead text-center">
      {% blocktrans %}Oil &amp; Rope is an open-source project and can be found on <a href="https://github.com/oil-rope/oil-and-rope/" class="text-white">GitHub</a>.{% endblocktrans %}
      <br>
      {% translate "the best way to contribute with us apart from helping us to code is enjoying the website itself, sharing with friends, giving us some feedback..."|capfirst %}
      <br>
      {% translate "we really appreciate any kind of effort."|capfirst %}
    </p>
    <div class="row justify-content-around pt-5">
      <div class="col-6">
        <a href="{% url 'registration:auth:register' %}" class="btn btn-info w-100">
          <i class="ic ic-join"></i>
          {% translate "begin the experience!"|capfirstletter %}
        </a>
      </div>
      <div class="col-6">
        <a target="_blank" href="https://github.com/oil-rope/oil-and-rope/" class="btn btn-dark w-100">
          <i class="ic ic-github"></i>
          {% translate "check us out on GitHub"|capfirst %}
        </a>
      </div>
      <div class="dropdown col-8 col-md-6 pt-4 pt-md-5">
        <button class="btn btn-secondary w-100" type="button" id="shareMenu" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <i class="ic ic-share"></i>
          {% translate "share"|capfirst %}
        </button>
        <div class="dropdown-menu" aria-labelledby="shareMenu">
          <a class="dropdown-item"
             target="_blank"
             href="https://twitter.com/home?status={{ secure_uri }} Check this out!Oil %26 Rope is an amazing project for managing roleplay games.">
            <i class="ic ic-twitter"></i>
            Twitter
          </a>
          <a class="dropdown-item" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ secure_uri }}">
            <i class="ic ic-facebook"></i>
            Facebook
          </a>
          <a class="dropdown-item"
             target="_blank"
             href="mailto:?&subject=&body={{ secure_uri }} Check this out!Oil %26 Rope is an amazing project for managing roleplay games.">
            <i class="ic ic-mail"></i>
            Email
          </a>
        </div>
      </div>

    </div>
  </section>
</div>