{# This section constitudes an About Us basic #}
{% load i18n %}
<div class="row bg-extra min-vh-100 py-5 {% if no_margin %}mx-0{% endif %}" id="about-us">
  <!-- About us -->
  <section class="col-12">
    <h2 class="display-3 text-center">
      {% trans "About us" %}
    </h2>
    <hr class="mx-md-5 md">
    <p class="lead text-center">
      {% blocktrans %}
        We are a group of people with different professional profiles (developers, designers, composers, …) and one
        thought in common,<br>
        <i class="font-weight-bold">"make an incredible experience for roleplaying online!"</i>.
      {% endblocktrans %}
    </p>
  </section>

  <!-- How -->
  <section class="col-12 py-3" id="how">
    <h2 class="display-3 text-center">
      {% trans "How?" %}<br>
      <small class="lead">
        {% trans "Helping you to" %}...
      </small>
    </h2>

    <div class="row justify-content-center">

      <!-- Build -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-hammer"></i>
        <div class="w-100"></div>
        <p class="lead">
          {% blocktrans %}
            ...build.<br>
            Worlds, cities, races, stories...
          {% endblocktrans %}
        </p>
      </div>

      <!-- Secure -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-shield"></i>
        <div class="w-100"></div>
        <p class="lead">
          {% blocktrans %}
            ...play secure.<br>
            All your data is stored and encrypted.
          {% endblocktrans %}
        </p>
      </div>

      <!-- Connect -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-connect"></i>
        <div class="w-100"></div>
        <p class="lead">
          {% blocktrans %}
            ...connect.<br>
            Make relationships in-between your world.
          {% endblocktrans %}
        </p>
      </div>

      <!-- Play -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-dice"></i>
        <div class="w-100"></div>
        <p class="lead">
          {% blocktrans %}
            ...play!<br>
            Create, fight, explore and have fun!
          {% endblocktrans %}
        </p>
      </div>

      <!-- Write -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-quill"></i>
        <div class="w-100"></div>
        <p class="lead">
          {% blocktrans %}
            ...write.<br>
            Your own story, your epic revolution.
          {% endblocktrans %}
        </p>
      </div>

      <!-- Adapt -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-responsive-device"></i>
        <div class="w-100"></div>
        <p class="lead">
          {% blocktrans %}
            ...adapt.<br>
            Control your game in every device.
          {% endblocktrans %}
        </p>
      </div>

      <!-- Communicate -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-discord"></i>
        <div class="w-100"></div>
        <p class="lead">
          {% blocktrans %}
            ...communicate.<br>
            Playing in both website and Discord server.
          {% endblocktrans %}
        </p>
      </div>

      <!-- Share -->
      <div class="col-6 col-lg-4 col-xl-3 text-center">
        <i class="display-3 text-white ic ic-users"></i>
        <div class="w-100"></div>
        <p class="lead">
          {% blocktrans %}
            ...share.<br>
            Make amazing worlds for everyone to enjoy.
          {% endblocktrans %}
        </p>
      </div>

      <a href="{% url 'registration:register' %}" class="btn btn-lg btn-primary col-6 my-lg-5">
        <i class="ic ic-join"></i>
        {% trans "Join now" %}!
      </a>
    </div>
  </section>
</div>
