{% load i18n %}
{% load static %}
{% load mptt_tags %}
{% load string_utils %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
  <div class="container-fluid">
    <!-- Logo -->
    <a href="{% url 'core:home' %}" class="navbar-brand">
      <img
        width="50"
        class="d-inline-block"
        src="{% static 'img/oil_and_rope_logo_color_thin.svg' %}"
        alt="{% translate "logo"|capfirst %}"
      />
      <span class="font-ds-bold">Oil &amp; Rope</span>
    </a>
    <!-- Button for NavBar -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarOilAndRope"
      aria-controls="navbarOilAndRope"
      aria-expanded="false"
      aria-label="{% translate "toggle navigation"|capfirst %}"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    {% with request.path as actual_path %}
      <!-- Navbar Menu -->
      <div class="collapse navbar-collapse" id="navbarOilAndRope">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          {% comment %}
            NOTE: DynamicMenu is unstable and must be disabled for now.
            Since theres only one menu available this can be setted manually.
          {% endcomment %}
          {% comment %} {% include 'core/includes/recursive_menu.html' %} {% endcomment %}
          <li class="nav-item">
            {% url 'roleplay:world:list' as world_list %}
            <a
              href="{{ world_list }}"
              class="nav-link text-uppercase {% if actual_path|startswith:world_list %} active{% endif %}"
              {% if actual_path|startswith:world_list %}aria-current="page"{% endif %}
            >
              <i class="ic-world"></i>
              {% translate "worlds" %}
            </a>
          </li>
          <li class="nav-item">
            {% url 'roleplay:session:list' as session_list %}
            <a
              href="{{ session_list }}"
              class="nav-link text-uppercase {% if actual_path|startswith:session_list %} active{% endif %}"
              {% if actual_path|startswith:session_list %}aria-current="page"{% endif %}
            >
              <i class="ic-dice"></i>
              {% translate "sessions" %}
            </a>
          </li>
          <li class="nav-item">
            {% url 'roleplay:race:list' as race_list_url %}
            <a
              href="{{ race_list_url }}"
              class="nav-link text-uppercase {% if actual_path|startswith:race_list_url %} active{% endif %}"
              {% if actual_path|startswith:race_list_url %}aria-current="page"{% endif %}
            >
              <i class="ic-hammer"></i>
              {% translate "races" %}
            </a>
          </li>
        </ul>

        <!-- Login and Register -->
        <ul class="navbar-nav mt-2 mt-lg-0">
          {% if not user.is_authenticated %}
            <li class="nav-item">
              {% url 'registration:auth:login' as login %}
              <a href="{{ login }}"
                 class="nav-link text-uppercase {% if actual_path|startswith:login %}active{% endif %}"
                 {% if actual_path|startswith:login %}aria-current="page"{% endif %}
              >
                {% translate "login"|capfirst %}
              </a>
            </li>
            <li class="nav-item">
              {% url 'registration:auth:register' as register %}
              <a href="{{ register }}"
                 class="nav-link text-uppercase {% if actual_path|startswith:register %}text-danger active{% else %}text-primary{% endif %}"
                 {% if actual_path|startswith:register %}aria-current="page"{% endif %}
              >
                {% translate "create your account"|capfirst %}
              </a>
            </li>
          {% else %}
            <li class="nav-item dropstart">
              <a
                class="nav-link dropdown-toggle text-uppercase"
                href="#"
                id="navbarDropdown_userMenu"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {% if user.profile.image %}
                  <img
                    class="p-1 rounded-circle"
                    src="{{ user.profile.image.url }}"
                    width="50"
                    height="50"
                    alt="{% translate "avatar"|capfirst %}"
                  >
                {% endif %}
                {{ user.username }}
              </a>
              <ul
                class="dropdown-menu text-uppercase"
                aria-labelledby="navbarDropdown_userMenu"
              >
                <li>
                  <a
                    href="{% url 'registration:user:edit' request.user.pk %}"
                    class="dropdown-item"
                    title="{% translate "personalize even more your user."|capfirst %}"
                  >
                    <i class="ic ic-cogs"></i>
                    {% translate "settings"|capfirst %}
                  </a>
                </li>
                {% if user.is_staff %}
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a
                      href="{% url 'admin:index' %}"
                      class="dropdown-item"
                    >
                      <svg
                        class="bi bi-tools"
                        width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M0 1l1-1 3.081 2.2a1 1 0 01.419.815v.07a1 1 0 00.293.708L10.5 9.5l.914-.305a1 1 0 011.023.242l3.356 3.356a1 1 0 010 1.414l-1.586 1.586a1 1 0 01-1.414 0l-3.356-3.356a1 1 0 01-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 00-.707-.293h-.071a1 1 0 01-.814-.419L0 1zm11.354 9.646a.5.5 0 00-.708.708l3 3a.5.5 0 00.708-.708l-3-3z"
                          clip-rule="evenodd"
                        ></path>
                        <path
                          fill-rule="evenodd"
                          d="M15.898 2.223a3.003 3.003 0 01-3.679 3.674L5.878 12.15a3 3 0 11-2.027-2.027l6.252-6.341A3 3 0 0113.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>
                      {% translate "admin panel" %}
                    </a>
                  </li>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a
                  href="{% url 'registration:auth:logout' %}"
                  class="dropdown-item"
                  title="{% translate "see you soon!"|capfirstletter %}"
                >
                  <svg
                    class="bi bi-box-arrow-in-left"
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                    >
                    <path
                      fill-rule="evenodd"
                      d="M7.854 11.354a.5.5 0 000-.708L5.207 8l2.647-2.646a.5.5 0 10-.708-.708l-3 3a.5.5 0 000 .708l3 3a.5.5 0 00.708 0z"
                      clip-rule="evenodd"
                    ></path>
                    <path
                      fill-rule="evenodd"
                      d="M15 8a.5.5 0 00-.5-.5h-9a.5.5 0 000 1h9A.5.5 0 0015 8z"
                      clip-rule="evenodd"
                    ></path>
                    <path
                      fill-rule="evenodd"
                      d="M2.5 14.5A1.5 1.5 0 011 13V3a1.5 1.5 0 011.5-1.5h8A1.5 1.5 0 0112 3v1.5a.5.5 0 01-1 0V3a.5.5 0 00-.5-.5h-8A.5.5 0 002 3v10a.5.5 0 00.5.5h8a.5.5 0 00.5-.5v-1.5a.5.5 0 011 0V13a1.5 1.5 0 01-1.5 1.5h-8z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  {% translate "logout" %}
                </a>
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
    {% endwith %}
  </div>
</nav>