{% load string_utils %}
{% load mptt_tags %}

<!-- Menu -->
{% recursetree menus %}
  {% with request.path as actual_url %}
    {% comment %} Leaf Node inside a Dropdown {% endcomment %}
    {% if node.get_ancestors and node.is_leaf_node %}
      <a data-menu-referrer="{{ node.pk }}" href="{{ node.url }}"
          class="dropdown-item dynamic-menu-track text-uppercase{% if actual_url|startswith:node.url %} active{% endif %}">
        {{ node.display_menu_name|safe }}
      </a>
      {% comment %} Leaf Node outside a Dropdown {% endcomment %}
    {% elif not node.get_ancestors and node.is_leaf_node %}
      <li class="nav-item">
        <a data-menu-referrer="{{ node.pk }}" href="{{ node.url }}"
            class="nav-link dynamic-menu-track text-uppercase{% if actual_url|startswith:node.url %} active{% endif %}">
          {{ node.display_menu_name|safe }}
        </a>
      </li>
      {% comment %} A Dropdown {% endcomment %}
    {% else %}
      <li class="nav-item dropdown">
        <a data-menu-referrer="{{ node.pk }}"
            class="nav-link dynamic-menu-track dropdown-toggle text-uppercase{% if actual_url|startswith:node.url %} active{% endif %}"
            href="javascript:" id="navbarDropdown_{{ node.pk }}" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          {{ node.display_menu_name|safe }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown_{{ node.pk }}">
          {{ children }}
        </div>
      </li>
    {% endif %}
  {% endwith %}

{% endrecursetree %}