{% extends 'email_templates/email_layout.html' %}
{% load i18n %}
{% load string_utils %}

{% block title %}{% translate "you've been invited!"|capfirstletter %}{% endblock title %}

{% block content %}
  <main class="container-fluid pt-1">
    <h1 class="text-center">
      {% blocktranslate with name=object.name trimmed %}
        You've been invited to {{ name }}!
      {% endblocktranslate %}
    </h1>
    <hr class="mx-5">

    <div class="row">
      <div class="col">
        <p class="lead text-center">
          {% blocktranslate with game_master=user.username place_name=object.place.name trimmed %}
            {{ game_master }} invites you to join into an epic quest in the world of {{ place_name }}.
          {% endblocktranslate %}
        </p>
        <p class="text-muted text-center">
          {% trans "check this world here"|capfirst %}
          <i class="ic ic-arrow-right"></i>
          {% url 'roleplay:place:detail' object.place.pk as place_link %}
          <a
            href="{{ scheme }}://{{ host }}{{ place_link }}"
            target="_blank"
          >
            {{ object.place.name }}
          </a>
        </p>
        <h4 class="text-center">
          {% blocktranslate with name=object.name trimmed %}
            The adventure of <em>"{{ name }}"</em> awaits for you!
          {% endblocktranslate %}
        </h4>
      </div>
    </div>
    <div class="row justify-content-around mt-md-4">
      {% url "roleplay:campaign:join" pk=object.pk token=token as join_url %}
      <a
        href="{{ scheme }}://{{ host }}{{ join_url }}"
        class="btn btn-lg btn-primary col-11 col-md-6 col-lg-4 col-xl-2"
      >
        {% translate "join now!"|capfirstletter %}
      </a>
    </div>
    <div class="row mt-1 mt-md-3">
      <div class="col">
        <small class="d-block text-muted text-center">
          {% translate "if you can't click on the link here's raw"|capfirst %}
          <br />
          <code>
            {{ scheme }}://{{ host }}{{ join_url }}
          </code>
        </small>
      </div>
    </div>
  </main>
{% endblock content %}
