{% extends 'email_templates/email_layout.html' %}
{% load i18n %}

{% block title %}{% translate title|title %}{% endblock title %}

{% block content %}
  <main class="container-fluid pt-1 pt-lg-3">
    <h2 class="display-4 text-center">{% translate title|title %}</h2>
    <hr class="mx-5">
    <div class="row justify-content-around">
      <div class="col">
        <p class="lead text-center">
          {% translate "you've received this email because your account has been requested for a password reset."|capfirst %}
          <br />
          {% translate "to accomplish the requested task please click on link below."|capfirst %}
        </p>
      </div>
    </div>
    <div class="row justify-content-around">
      <a
        href="{{ protocol }}://{{ domain }}{% url 'registration:auth:password_reset_confirm' uidb64=uid token=token %}"
        class="btn btn-primary col-11 col-md-6 col-lg-4 col-xl-2"
        target="_blank"
      >
          {% translate title|capfirst %}
      </a>
    </div>
  </main>
{% endblock content %}
