{% extends 'email_templates/email_layout.html' %}
{% load i18n %}

{% block title %}{% translate title|title %}{% endblock title %}

{% block content %}
  <main class="container-fluid pt-1 pt-lg-3">
    <h2 class="display-4 text-center">{% translate title|title %}</h2>
    <hr class="mx-5">
    <div class="row justify-content-around">
      <div class="col">
        <p class="lead text-center">
          {% translate "you've received this email because your account has been requested for a password reset."|capfirst %}
          <br />
          {% translate "to accomplish the requested task please click on link below."|capfirst %}
        </p>
      </div>
    </div>
    <div class="row justify-content-around">
      {% url 'registration:auth:password_reset_confirm' uidb64=uid token=token as reset_confirm_url %}
      <a
        href="{{ scheme }}://{{ host }}{{ reset_confirm_url }}"
        class="btn btn-primary col-11 col-md-6 col-lg-4 col-xl-2"
        target="_blank"
      >
          {% translate title|capfirst %}
      </a>
    </div>
    <div class="row mt-1 mt-md-3">
      <div class="col">
        <small class="d-block text-muted text-center">
          {% translate "if you can't click on the link here's raw"|capfirst %}
          <br />
          <code>
            {{ scheme }}://{{ host }}{{ reset_confirm_url }}
          </code>
        </small>
      </div>
    </div>
  </main>
{% endblock content %}
