{% load i18n %}
{% load string_utils %}

{% with actual_path=actual_path|default:request.path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb rounded-0 bg-dark text-light px-3 py-2 {% if no_separation|default:False %}mb-0{% endif %}">
      {% url 'core:index' as home %}
      {% if actual_path == home %}
        <li class="breadcrumb-item active" aria-current="page">
          {% translate "home"|capfirst context "menu name" %}
        </li>
      {% else %}
        <li class="breadcrumb-item">
          <a
            class="text-light text-decoration-none"
            href="{{ home }}"
          >
            {% translate "home"|capfirst context "menu name" %}
          </a>
        </li>
      {% endif %}
      {% if breadcrumbs %}
        {% with breadcrumbs=breadcrumbs|generate_breadcrumbs %}
          {% for breadcrumb, breadcrumb_url in breadcrumbs.items %}
            {% if forloop.last %}
              <li class="breadcrumb-item active" aria-current="page">
                {% translate breadcrumb|title %}
              </li>
            {% else %}
              <li class="breadcrumb-item" aria-current="page">
                {% if breadcrumb_url == '#no-url' %}
                  {% translate breadcrumb|title %}
                {% else %}
                  <a
                    href="{{ breadcrumb_url }}"
                    class="text-light text-decoration-none"
                  >
                    {% translate breadcrumb|title %}
                  </a>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        {% endwith %}
      {% endif %}
    </ol>
  </nav>
{% endwith %}
