channels
discord.py[voice]
django>=2, <3
django-crispy-forms
django-ckeditor
django-modeltranslation
django-mptt
django-mptt-admin
django-simple-history
django-tables2
djangorestframework
faker
Pillow
psycopg2-binary
python-dateutil
python-dotenv
xlrd