{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Login" %}{% endblock title %}

{% block css %}
  <style>
    #cover {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('{% static 'img/cover-min.png' %}');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
    }

    /*
     * Because of the background image we need a different border and focus color
     */
    #loginForm input {
      border-color: var(--primary);
    }

    #loginForm input:focus {
      border-color: var(--extra);
    }
  </style>
{% endblock css %}

{% block breadcrumb %}
  {% include 'common/include/breadcrumb.html' with breadcrumbs='Login' no_separation=True %}
{% endblock breadcrumb %}

{% block body_content %}
  <main class="container-fluid">

    <div id="cover" class="row min-vh-100 cover justify-content-lg-center">
      <!-- Presentation -->
      <div class="col-12 text-center pt-3">
        <img height="250px" load="lazy" src="{% static 'img/oil_and_rope_logo_color_thin.svg' %}" alt="Oil & Rope Logo">
        <h2 class="display-3 text-white font-ds-bold">
          Oil &amp; Rope
        </h2>
      </div>

      <!-- Form -->
      <div class="col-12 col-xl-6">
        {% crispy form %}
      </div>

      <!-- Join -->
      <div class="col-12 d-flex justify-content-around align-items-md-center justify-content-sm-center py-5 py-md-0">
        <p class="lead text-white mr-sm-3 mb-md-0">
          {% trans "Don't have an account?" %}
        </p>
        <a class="lead" href="{% url 'registration:register' %}">{% trans "Join now" %}!</a>
      </div>

      <!-- Arrow -->
      <div class="fixed-bottom text-right px-3" id="goto-arrow">
        <a href="{% url 'registration:login' %}#about-us" class="lead text-white" style="font-size: 2rem">
          <i class="ic ic-arrow-down"></i>
        </a>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-12">
        {% include 'core/includes/about_us.html' %}
      </div>
    </div>


  </main>
{% endblock body_content %}