{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Login" %}{% endblock title %}

{% block breadcrumb %}
  {% include 'common/include/breadcrumb.html' with breadcrumbs='Login' no_separation=True %}
{% endblock breadcrumb %}

{% block body_content %}
  <main class="container-fluid">

    <div class="row min-vh-100 cover justify-content-lg-center"
         style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'img/cover-min.png' %}'); background-position: center top;">
      <!-- Presentation -->
      <div class="col-12 text-center pt-3">
        <img height="250px" load="lazy" src="{% static 'img/oil_and_rope_logo_color_thin.svg' %}" alt="Oil & Rope Logo">
        <h2 class="display-3 text-white font-ds-bold">
          Oil &amp; Rope
        </h2>
      </div>

      <!-- Form -->
      <div class="col-12 col-xl-6">
        {% crispy form %}
      </div>

      <!-- Join -->
      <div class="col-12 d-flex justify-content-around align-items-md-center justify-content-sm-center py-5 py-md-0">
        <p class="lead text-white mr-sm-3 mb-md-0">
          {% trans "Don't have an account?" %}
        </p>
        <a class="lead" href="{% url 'registration:register' %}">{% trans "Join now" %}!</a>
      </div>

      <!-- Arrow -->
      <div class="fixed-bottom text-right px-3" id="goto-arrow">
        <a href="{% url 'registration:login' %}#about-us" class="lead text-white" style="font-size: 2rem">
          <i class="ic ic-arrow-down"></i>
        </a>
      </div>
    </div>

    <div class="row bg-gradient-logo min-vh-100 py-5" id="about-us">
      <!-- About us -->
      <section class="col-12">
        <h2 class="display-3 text-center">
          {% trans "About us" %}
        </h2>
        <hr class="mx-md-5 md">
        <p class="lead text-center">
          {% blocktrans %}
            We are a group of people with different professional profiles (developers, designers, composers, …) and one
            thought in common,<br>
            <i class="font-weight-bold">"make an incredible experience for roleplaying online!"</i>.
          {% endblocktrans %}
        </p>
      </section>

      <!-- How -->
      <section class="col-12 py-3" id="how">
        <h2 class="display-3 text-center">
          {% trans "How?" %}<br>
          <small class="lead">
            {% trans "Helping you to" %}...
          </small>
        </h2>

        <div class="container-fluid">
          <div class="row justify-content-center">

            <!-- Build -->
            <div class="col-6 col-lg-4 col-xl-3 text-center">
              <i class="display-3 text-white ic ic-hammer"></i>
              <div class="w-100"></div>
              <p class="lead">
                {% blocktrans %}
                  ...build.<br>
                  Worlds, cities, races, stories...
                {% endblocktrans %}
              </p>
            </div>

            <!-- Secure -->
            <div class="col-6 col-lg-4 col-xl-3 text-center">
              <i class="display-3 text-white ic ic-shield"></i>
              <div class="w-100"></div>
              <p class="lead">
                {% blocktrans %}
                  ...play secure.<br>
                  All your data is stored and encrypted.
                {% endblocktrans %}
              </p>
            </div>

            <!-- Connect -->
            <div class="col-6 col-lg-4 col-xl-3 text-center">
              <i class="display-3 text-white ic ic-connect"></i>
              <div class="w-100"></div>
              <p class="lead">
                {% blocktrans %}
                  ...connect.<br>
                  Make relationships in-between your world.
                {% endblocktrans %}
              </p>
            </div>

            <!-- Play -->
            <div class="col-6 col-lg-4 col-xl-3 text-center">
              <i class="display-3 text-white ic ic-dice"></i>
              <div class="w-100"></div>
              <p class="lead">
                {% blocktrans %}
                  ...play!<br>
                  Create, fight, explore and have fun!
                {% endblocktrans %}
              </p>
            </div>

            <!-- Write -->
            <div class="col-6 col-lg-4 col-xl-3 text-center">
              <i class="display-3 text-white ic ic-quill"></i>
              <div class="w-100"></div>
              <p class="lead">
                {% blocktrans %}
                  ...write.<br>
                  Your own story, your epic revolution.
                {% endblocktrans %}
              </p>
            </div>

            <!-- Adapt -->
            <div class="col-6 col-lg-4 col-xl-3 text-center">
              <i class="display-3 text-white ic ic-responsive-device"></i>
              <div class="w-100"></div>
              <p class="lead">
                {% blocktrans %}
                  ...adapt.<br>
                  Control your game in every device.
                {% endblocktrans %}
              </p>
            </div>

            <!-- Communicate -->
            <div class="col-6 col-lg-4 col-xl-3 text-center">
              <i class="display-3 text-white ic ic-discord"></i>
              <div class="w-100"></div>
              <p class="lead">
                {% blocktrans %}
                  ...communicate.<br>
                  Playing in both website and Discord server.
                {% endblocktrans %}
              </p>
            </div>

            <!-- Share -->
            <div class="col-6 col-lg-4 col-xl-3 text-center">
              <i class="display-3 text-white ic ic-users"></i>
              <div class="w-100"></div>
              <p class="lead">
                {% blocktrans %}
                  ...share.<br>
                  Make amazing worlds for everyone to enjoy.
                {% endblocktrans %}
              </p>
            </div>

            <a href="{% url 'registration:register' %}" class="btn btn-lg btn-success col-6 my-lg-5">
              {% trans "Join now" %}!
            </a>
          </div>
        </div>
      </section>
    </div>

  </main>
{% endblock body_content %}