{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% comment %}
NOTE: The name of this template is overriden by the Django Admin template so we changed the name in order to force the
view to use it
{% endcomment %}

{% block title %}{% translate "new password"|capfirst %}{% endblock title %}

{% block breadcrumb %}
  {# NOTE: Translations that are 'supossed' to be on the go should be declared first #}
  {# NOTE: Is should add a 'as' in order to NOT render on template #}
  {% translate "set new password" as breadcrumb_translation %}
  {% include 'common/include/breadcrumb.html' with breadcrumbs='login=registration:auth:login,set new password' %}
{% endblock breadcrumb %}

{% block body_content %}
<main class="container py-5">
  <h2 class="display-4 text-center">{{ title }}</h2>
  <hr class="mx-5">

  <div class="row justify-content-md-around">
    <div class="col-12">
      {% crispy form %}
    </div>
  </div>
</main>
{% endblock body_content %}
