{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock title %}

{% block breadcrumb %}
  {% include 'common/include/breadcrumb.html' with breadcrumbs='login=registration:login,reset password' %}
{% endblock breadcrumb %}

{% block body_content %}
<main class="container py-5">
  <h2 class="display-4 text-center">{{ title }}</h2>
  <hr class="mx-5">

  <div class="row justify-content-md-around">
    <div class="col-12 col-md-10 col-lg-6">
      {% crispy form %}
      <button onclick="goBack();" class="btn btn-secondary w-100 mt-3 mt-md-5 mt-xl-4">
        <i class="ic-arrow-left"></i>
        {% translate "go back"|capfirst %}
      </button>
    </div>
  </div>
</main>
{% endblock body_content %}

{% block javascript %}
<script src="{% static 'common/js/utils.js' %}"></script>
{% endblock javascript %}
