{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "new password"|capfirst %}{% endblock title %}

{% block breadcrumb %}
  {% translate "set new password" as set_new_password_page %}
  {% include 'common/include/breadcrumb.html' with breadcrumbs='login=registration:auth:login,set new password' %}
{% endblock breadcrumb %}

{% block body_content %}
<main class="container py-5">
  <h2 class="display-4 text-center">{{ title }}</h2>
  <hr class="mx-5">

  <div class="row justify-content-md-around">
    <div class="col-12">
      {% crispy form %}
    </div>
  </div>
</main>
{% endblock body_content %}
