{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Create your account" %}{% endblock title %}

{% block body_content %}
<header class="container">
  <h2 class="display-2 text-center">
    {% trans "Start your adventure" %}!
  </h2>
  <hr>
  <p class="lead text-center">
    {% trans "Take the first step" %}. {% trans "Create your account" %}.
    <br>
    {% trans "Your world awaits" %}!
  </p>
</header>
<main class="container">
  <div class="row">
    <div class="col-md-8">
      {% crispy form %}
    </div>

    <div class="col-md-4 d-none d-md-block">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda deleniti quidem mollitia tenetur sunt sint ab commodi nihil sed? Molestiae porro reiciendis enim, dicta consequuntur asperiores accusantium eligendi neque quod?
        Ab laudantium eius doloremque saepe culpa et similique ipsa obcaecati, reiciendis eveniet veritatis dolore sed sint maxime inventore eaque corrupti, perferendis ea placeat, provident cum minus id omnis vitae. Hic.
        Pariatur repellendus maxime quaerat, omnis minima delectus adipisci accusamus voluptatibus ex quasi, numquam dolores ratione natus? Explicabo, voluptatum ullam ea neque quidem assumenda ipsum debitis deleniti ut ipsam odio vero!
        Inventore, esse ab illo, modi mollitia vero adipisci repellat eveniet quos distinctio maiores laborum blanditiis, necessitatibus molestias enim iure odit natus voluptatem possimus repellendus facilis expedita! Eius laboriosam corporis fugit.
      </p>
    </div>
  </div>
</main>
{% endblock body_content %}

{% block javascript %}
<script src="{% static 'websockets/botConsumer.js' %}" consumer-url="{% url 'bot:ws_bot_register' %}" debug="{{ debug }}"></script>
{% endblock javascript %}
