{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Create your account" %}{% endblock title %}

{% block body_content %}
<header class="container">
  <h2 class="display-3 text-center">
    {% trans "Start your adventure" %}!
  </h2>
  <hr>
  <p class="lead text-center">
    {% trans "Take the first step" %}. {% trans "Create your account" %}.
    <br>
    {% trans "Your world awaits" %}!
  </p>
</header>
<main class="container pb-3">
  <div class="row">
    <div class="col-12">
      {% crispy form %}
    </div>
  </div>
</main>
{% endblock body_content %}

{% block javascript %}
<script src="{% static 'websockets/botConsumer.js' %}"
        consumer-url="{% url 'bot:ws_bot_register' %}"
        debug="{{ debug }}"
        invitation-url="{{ BOT_INVITATION }}"></script>
{% endblock javascript %}
