{% extends 'core/layout.html' %}
{% load i18n %}
{% load string_utils %}
{% load crispy_forms_tags %}

{% block title %}{% translate "edit"|capfirst %} {% translate "user"|capfirst %}{% endblock title %}

{% block breadcrumb %}
  {% include 'common/include/breadcrumb.html' with breadcrumbs='profile' no_separation=True %}
{% endblock breadcrumb %}

{% block body_content %}
  <main class="container-fluid pb-5 pt-2 pt-xl-3">
    <h1 class="text-center fw-lighter">
      {% translate "your profile"|capfirst %}
    </h1>
    <hr class="mx-5">
    <div class="row flex-column flex-md-row">
      <div class="col-12 col-md-3 col-xl-2 mb-3 mb-md-0">
        {% include 'registration/include/user_context_menu.html' %}
      </div>
      <div class="col">
        {% crispy form %}
      </div>
    </div>
  </main>
{% endblock body_content %}
