{% extends 'core/layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "edit"|capfirst %} {% translate "user"|capfirst %}{% endblock title %}

{% block body_content %}
  <main class="container pb-5">
    <h1 class="text-center font-weight-lighter">
      {% translate "edit"|capfirst %} {% translate "your user"|title %}
    </h1>
    <hr class="mx-5">
    <div class="row">
      <div class="col-12">
        {% crispy form %}
      </div>
    </div>
  </main>
{% endblock body_content %}
